type nvram_daemon, domain;
type nvram_daemon_exec, exec_type, file_type;
init_daemon_domain(nvram_daemon)

allow nvram_daemon gsi_metadata_file:dir search;
allow nvram_daemon proc_cmdline:file { getattr open read };
allow nvram_daemon sysfs_dt_firmware_android:dir search;
allow nvram_daemon sysfs_dt_firmware_android:file { getattr open read };